LCDPNet/trained_on_MSEC.bak
LCDPNet/trained_on_MSEC.ckpt
LCDPNet/trained_on_ours.bak
LCDPNet/trained_on_ours.ckpt

mimo_unet/MIMO-Unet.pkl
mimo_unet/MIMO-Unet_half.pkl

MIRNetv2/Real_Denoising/pretrained_models/real_denoising.pth
MIRNetv2/Real_Denoising/pretrained_models/real_denoising_half.pth

Restormer/Denoising/pretrained_models/real_denoising.pth
Restormer/Denoising/pretrained_models/real_denoising_half.pth

StripformerECCV2022/Stripformer_gopro.pth
StripformerECCV2022/Stripformer_gopro_half.pth
StripformerECCV2022/Stripformer_realblur_J.pth
StripformerECCV2022/Stripformer_realblur_J_half.pth
StripformerECCV2022/Stripformer_realblur_R.pth
StripformerECCV2022/Stripformer_realblur_R_half.pth

processed

